<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrito</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <h1>Carrito de Compras</h1>
    <nav>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/cart">Carrito</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <ul>
      {{#each cart.products}}
        <li>
          <h2>{{this.product.name}}</h2>
          <p>Cantidad: {{this.quantity}}</p>
          <p>Precio: {{this.product.price}}</p>
        </li>
      {{/each}}
    </ul>
    <p>Total: {{cart.totalPrice}}</p>
  </main>
  <footer>
    <p>&copy; EcommerceMati</p>
  </footer>
</body>
</html>