<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrarse</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <h1>Registrarse</h1>
    <nav>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/cart">Carrito</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Registrarse</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <form action="/auth/register" method="post">
      <label for="username">Nombre de usuario:</label>
      <input type="text" id="username" name="username" required>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" required>
      <button type="submit">Registrarse</button>
    </form>
  </main>
  <footer>
    <p>&copy; EcommerceMati</p>
  </footer>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/socketScript.js"></script>
</body>
</html>